
<h1>Hightscores</h1>
{{#if highscores_flag}}
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <td>Nom</td>
      <td>Score</td>
      <td>Temps</td>
    </tr>
  </thead>
  <tbody>
    {{#each item in arrangedContent}}
    <tr>
      <td>{{item.name}}</td>
      <td>{{item.score}}</td>
      <td>{{game-timer item.time}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<button class="btn btn-primary btn-lg" {{action "resetHighscores"}}>Supprimer tous les records</button>
{{else}}
	<h2>Aucun score enregisté</h2>
{{/if}}
