<!--Initial State-->
<div {{bind-attr class=":text-center init_game:hidden" }}>
  <button class="btn btn-primary btn-lg" {{action "onPlay"}}>PLAY</button>
</div>

<!-- Game State-->
<div {{bind-attr class=":col-md-12 :col-sm-12 :col-xs-12 init_game::hidden game_over:hidden" }}>
  <div class="row">
    <div class="panel panel-default col-md-4 col-sm-4 col-xs-4">
      <div class="panel-body">
        <h4>SCORE: {{nb_good_answers}}</h4>
      </div>
    </div>
    <div class="panel panel-default pull-right">
      <div class="panel-body">
        <h4><span class="glyphicon glyphicon-time" aria-hidden="true"></span>
		 {{game-timer seconds}}</h4>
      </div>
    </div>
  </div>

  <div id="div_img" class="center-block" style="max-width:800px;"></div>
  <br>
  <div class="text-center">
    <button class="btn btn-success btn-lg" {{action "onSelection" true}}>OUI</button>
    <button class="btn btn-warning btn-lg" {{action "onSelection" false}}>NON</button>
  </div>
</div>

<!-- Game Over -->
<div {{bind-attr class=":text-center :col-md-12 game_over::hidden" }}>
  <h2>Game Over!!!</h2>
  <h3>Vous avez réalisé {{nb_good_answers}} bonnes réponses en {{game-timer seconds}}</h3>

  <br>
  <br>
  <br>

  <!--Enregistrer son score dans les highscores-->
  <div {{bind-attr class=":row record_score::hidden recorded_flag:hidden" }}>
    <div class="panel panel-default row">
      <div class="panel-body">
        <h3>Enregistrez votre score!</h3> 
        <form class="form-inline">
          <div class="form-group">
            <label for="player_name">Votre nom</label>
            <input type="text" class="form-control" id="player_name" placeholder="Votre nom">
          </div>
          <button {{action "saveHighscore"}} class="btn btn-default">Enregistrez</button>
        </form>
      </div>
    </div>
  </div>

  <!--Confirmation de l'enregistrement-->
  <div {{bind-attr class=":row recorded_flag::hidden" }}>
    <div {{bind-attr class=":row :alert :alert-success" }} role="alert">
      Tu entres dans l'histoire... !
    </div>
  </div>

  <br>
  <br>
  <br>

  <button class="btn btn-primary btn-lg" {{action "playAgain"}}>PLAY AGAIN!</button>
  <div>
    {{#link-to "highscores"}}voir les meilleurs scores{{/link-to}}
  </div>
</div>
