<!--Initial State-->
<div {{bind-attr class="init_game:hidden" }}>
  <button class="btn btn-primary btn-lg" {{action "onPlay"}}>PLAY</button>
</div>
<!--On game state-->
<div {{bind-attr class=":col-md-12 init_game::hidden" }}>
  <img src={{tuple.movie}} alt="">
  <img src={{tuple.actor}} alt="">
</div>

{{outlet}}
